* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body, button, input {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000c0;
    color: #EAEAEA;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
}

.container header {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    max-width: 324px;
    width: 100%;
}

input {
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border-radius: 4px 0 0 4px;
    border: 2px solid transparent;
    border-right-width: 0;
}

input:hover {
    border-color: #4AC7FA;
    transition: 200ms;
}

button {
    width: 56px;
    background-color: #4AC7FA;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

button:hover {
    filter: brightness(90%);
    transition: 200ms;
}

main {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 149px);
}

h1 {
    font-size: 2.5em;
}

ul {
    list-style: none;
    margin-top: 35px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

li {
    background-color: #2f2f32;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
}

li:hover {
    transform: translateY(-10px) scale(1.2);
    border-color: #4AC7FA;
    transition: all 200ms;
}

li:hover span {
    color: #95EBA8;
}