li{
    background-color: rgba(255, 255, 0, 0.315);
    font-size: 20px;
    
}
li a {
    text-decoration: none;
    color: black;
}

li:nth-child(even){
    color: green;
    font-style: italic
    ;
    font-weight: bold;
}
li:nth-child(odd){
    text-transform: uppercase;
}
#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}
.pink{
    background-color: pink;
}

h1, h3{
    color: red;
}
h1{
    font-style: italic;
    border: 1px solid black;
}
.dev li a:hover{
    font-weight: bolder;
}
.orange a:hover{
    color: orange;
}
.green a:hover{
    color: green;
}
.yellow a:hover{
    color: yellow;
    text-shadow: 1px 1px black;
}

