.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #49111c;
    padding: 10px;
  }
  
  .home-title h2 {
    font-style: italic;
    margin-top: 10px;
    text-align: center;
  }
  